<footer class="footer mt-auto py-3">
    <div class="container">
    <span class="text-muted">&copy; MSW, {% now "Y" %}. <br>
      <a target="_blank" href="https://github.com/SergeyMi37/app-dj-param">Apptools-Django</a> </span>
     {% if iris_footer %}
        <!--{{iris_footer}}-->
      {% if iris_footer.status != 'ok' %}
        {{iris_footer.status}}
      {% endif %}
      <span class="text-muted">: 
        <a target="_blank" href="{{ iris_footer.url }}> {{ iris_footer.ver }} </a> </span>
        {% for enum in iris_footer.apps %}
          <span class="text-muted"> |  
            <a target="_blank" href="{{ enum.url }}">{{ enum.name }}</a> 
          </span>
        {% endfor %}
      {% endif %}
    </div>
</footer>